<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asset Test</title>
    <link rel="stylesheet" type="text/css" href="{{ __STATIC__ }}/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{ __STATIC__ }}/global.css" />
    <link rel="stylesheet" type="text/css" href="{{ __STATIC__ }}/asset.css" />
</head>
<body>

<table>
    <tr>
        <th>原目录</th>
        <th>导出目录</th>
        <th>Prepare</th>
        <th>模式</th>
        <th>语言</th>
        <th>执行</th>
    </tr>
    {% for key, value in files %}
        <tr>
            <td>{{ value|raw }}</td>
            <td>key</td>
            <td>key</td>
            <td>key</td>
            <td>key</td>
            <td>key</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>