<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>asset</title>
</head>
<body>
<table frame="border" rules="all" >
    <tr>
        <th>原目录</th>
        <th>导出目录</th>
        <th>Prepare</th>
        <th>模式</th>
        <th>语言</th>
        <th>执行</th>
    </tr>
    {% for key, value in files %}
        <tr>
            <th>{{ value }}</th>
            <th>key</th>
            <th>key</th>
            <th>key</th>
            <th>key</th>
            <th>key</th>
        </tr>
    {% endfor %}
</table>
</body>
</html>