<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="{{ __STATIC__ }}/navigation.css" />
</head>
<body>
<ul>
    <li><a class="active" href="/">主页</a></li>
    <li><a href="Study/index">Study</a></li>
    <li><a href="Study/testStudy/name/xiaozhao">联系</a></li>
    <li><a href="Asset/index">资源</a></li>
    <li><a href="#about">关于</a></li>
</ul>
</body>
</html>